.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#D41143 0,#D41143 100%) !important; /* override background image gradient w/ flat color */
}

.nav-button {
  color: white;
}

.nav-button:hover {
  background-color: white;
  color: green;
}

.carousel-button, .carousel-button:hover {
  color: white;
  background-color: #0B4425;
  border: 1px solid white;
  padding: 10px 70px;
}

.product-row {
  /* margin-top: 50px;
  margin-bottom: 50px; */
  margin: 0px;
  background-image: url("D:/Documents/Codes/internship_assign/earthly/src/images/product_row_bg.gif");
  background-color: #cccccc;
  padding: 0 22px;
  /* border-radius: 20px; */
}

.product{
  margin-top: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: fill;
  background-color: rgba(0,0,0,0.5);
  top: -120px;
}

.video-container .content {
  position: relative;
  z-index: 1;
  padding: 50px;
  font-family: 'Poppins';
  color: #292929;
  padding-top: auto; 
  padding-right: 230px;
  padding-bottom: auto;
  padding-left: 230px;
}

