.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#D41143 0,#D41143 100%) !important; /* override background image gradient w/ flat color */
}

.nav-button {
  color: white;
}

.nav-button:hover {
  background-color: white;
  color: green;
}

.carousel-button, .carousel-button:hover {
  color: white;
  background-color: #0B4425;
  border: 1px solid white;
  padding: 10px 70px;
}


